registry=https://pkg.qa.harness.io/pkg/iWnhltqOT7GFt7R-F_zP7Q/npm_upstream/npm/
//pkg.qa.harness.io/pkg/iWnhltqOT7GFt7R-F_zP7Q/npm_upstream/npm/:_authToken=pat.iWnhltqOT7GFt7R-F_zP7Q.689daf039d49050b9849b57b.2s9ZLqkGTz0tN4ucDhMJ
always-auth=true
