<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget-upstream" value="https://pkg.qa.harness.io/pkg/iWnhltqOT7GFt7R-F_zP7Q/nuget-upstream/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nuget-upstream>
      <add key="Username" value="harness" />
      <add key="ClearTextPassword" value="pat.iWnhltqOT7GFt7R-F_zP7Q.689daf039d49050b9849b57b.2s9ZLqkGTz0tN4ucDhMJ" />
    </nuget-upstream>
  </packageSourceCredentials>
</configuration>
