name: Stable Release for v1

on:
  push:
    tags:
      - 'v1.[0-9]+.[0-9]+'
      - 'v1.[0-9]+.[0-9]+-rc.[0-9]+'

permissions:
  contents: write

env:
  GO_VERSION: '1.24'

jobs:
  release:
    name: Stable Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean --config .goreleaser/stable.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}